* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

@font-face {
    font-family: 'Parsienne';
    src: url('fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('images/b9.jpg');    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #505050;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.big-text {
    font-family: 'Parsienne';
    font-size: 5rem;
    font-weight: bold;
}

#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url("img/3-small.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
    background: url("img/4-small.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url("img/5-small.jpg");
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.container-fluid {
    padding: 160px 60px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Didot, serif;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #505050 !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #505050 !important;
}


.separator {
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.materials-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 80%;
    margin-top: 15rem;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

#about {
    text-align: center;
    font-family: 'Parsienne';
    margin-top: 80px;
    color: #F8F8FF;
}

#projects {
    text-align: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}

#materials {
    text-align: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}

#location {
    text-align: center;
    align-items: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}

#contact {
    text-align: center;
	align-items: center;
    font-family: 'Parsienne';
	font-size: medium;
    color: #F8F8FF;
}

.item img {
    height: 750px !important;
    width: 1150px !important;
}


.contact4 {
	font-family: "Montserrat", sans-serif;
	  color: #8d97ad;
	font-weight: 300;
  }
  
.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
background: transparent;
border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
position: absolute;
right: 0;
bottom: 0;
top: 0;
}

.contact4.bg-info {
	background-color: black !important;
}

.contact4 .text-inverse {
	color: #3e4555 !important;
}

input,
select,
textarea,
button {
  background-color: #000;
}

.input-data input:focus ~ label,
.input-data textarea:focus ~ label {
	transform: translateY(-20px);
	font-size: 15px;
	color: #AFEEEE;
}

.contactbox {
	width: 100%;
	background: #000;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

.contactbox .input-data {
	height: 40px;
	width: 100%;
	position: relative;
}

.contactbox .input-data input,
.contactbox .input-data textarea {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid silver;
}

.contactbox .input-data label {
	position: absolute;
	bottom: 10px;
	left: 0;
	color: grey;
	pointer-events: none;
	transition: all 0.3s ease;
}
  
@media (min-width: 1024px) {
	.contact4 .contact-box {
	padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
	padding-left: 15px;
	padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}

footer{
    align-items: center;
}

.footer-container {
    font-size: large;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

/* @media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
} */