@font-face {
    font-family: 'Parsienne';
    src: url('fonts/Parisienne/Parisienne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'quicksand';
    src: url('fonts/Quicksand/Quicksand/Quicksand-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
} */

body {
    height: 100%;
    background-image: url('images/wallpaper.png');    
}

.gallery-highlight {
    width: 80%;
    height: 50%;
}

section {
    display: flex;
    height: 100vh;
}

.project1-description {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.towerbridge-gallery {
    width: 80%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.towerbridge-preview {
    display: flex;
    width: 80%;
    border: 2px solid #e2d2c0;
}

.towerbridge-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.room-active {
    opacity: 1;
}

.container-fluid {
	padding: 120px 60px;
}

.navbar {
	margin-bottom: 0;
	background-color:#DCDCDC;
	z-index: 9999;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Didot, serif;
}

#about {
    text-align: center;
    font-family: 'Parsienne';
    margin-top: 100px;
    color: #F8F8FF;
    /* background-color: #000000; */
}

#projects {
    text-align: center;
    font-family: 'Parsienne';
    color: #000000;
}

#materials {
    text-align: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}

#location {
    text-align: center;
    align-items: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}

#contact {
    text-align: center;
    align-items: center;
    font-family: 'Parsienne';
    color: #F8F8FF;
}


.item img {
    height: 750px !important;
    width: 1150px !important;
}


.mapouter {
    position: relative;
    height:464px;
    width:1080px;
}

.mapouter iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; 
    align-items: center;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:464px;
    width:1080px;
    align-items: center;
}

footer{
    align-items: center;
}

.footer-container {
    font-size: large;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}