body {
    width: 100%;
    height: 100%;
}

.navbar {
	margin-bottom: 0;
	background-color:#DCDCDC;
	z-index: 9999;
	border: 0;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Didot, serif;
}

#marmoresimg {
    position: fixed;
    bottom: 0;
    right: 80;
    height: 80vh;
    width: 100vh;
}

#cristovaoimg {
    position: fixed;
    bottom: 0;
    right: 80;
    height: 70vh;
    width: 100vh;
}

#timoteoimg {
    position: fixed;
    bottom: 0;
    right: 80;
    height: 60vh;
    width: 100vh;
}

.mapouter {
    position: relative;
    text-align: center;
    height:464px;
    width:1080px;
}

.mapouter iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; 
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:464px;
    width:1080px;
}

footer{
    margin-bottom: 20px;
}

